@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

/* VARIÁVEIS --------------------*/

:root{
  --vermelho:#ff3838;
  --branco: #fff;
  --preto: #000;
  --bkgCinza: #f7f7f7; 
  --cinzaClaro: #666; 
  --cinzaEscuro: #333;
}

/* GERAL -----------------------*/

*{
  font-family: 'Nunito', sans-serif;
  margin:0; 
  padding:0;
  box-sizing: border-box;
  outline: none; 
  border:none;
  text-decoration: none;
  text-transform: capitalize;
  transition:all .2s linear;
}

*::selection{
  background:var(--vermelho);
  color:var(--branco);
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}

body{
  background:var(--bkgCinza);
}

.titulo {
    text-align: center;
    align-items: center;
    font-size: 3.5rem;
    padding:1rem;
    color: var(--cinzaClaro);
    margin: 10rem;
  }

  .titulo span {
    color: var(--vermelho);
  }

