@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

/* VARIÁVEIS --------------------*/

:root{
  --branco: #fff;
  --preto: #000;
  --bkgCinza: #f7f7f7; 
  --cinzaClaro: #666; 
  --cinzaEscuro: #333;
  --amarelo: #fac031;
  --verde: #4fe938;
  --verdeClaro: #a4ef9a;
}

/* GERAL -----------------------*/

*{
  font-family: 'Nunito', sans-serif;
  margin:0; 
  padding:0;
  box-sizing: border-box;
  outline: none; 
  border:none;
  text-decoration: none;
  text-transform: capitalize;
}

*::selection{
  background:var(--verde);
  color:var(--branco);
}

html{
  font-size: 62.5%;
}

body{
  background:var(--bkgCinza);
  background-image: url(images/home-bg.jpg);
}

/* TITULO --------------------------------------*/

.titulo {
    text-align: center;
    font-size: 5rem;
    padding:20rem 20rem 2rem 20rem;
    color: var(--cinzaClaro);
    font-weight: bold;
}

.subtitulo {
  text-align: center;
  font-size: 2.5rem;
  padding: 0 0 10rem 0;
  color: var(--cinzaClaro);
}

.titulo span {
    color:var(--verde);
}

.voltar {
    display: inline-block;
    padding:.8rem 3rem;
    border:.2rem solid var(--verde);
    color:var(--verde);
    cursor: pointer;
    font-size: 1.7rem;
    border-radius: .5rem;
    position: relative;
    overflow: hidden;
    margin-top: 1rem;
  }

  .btnBox {
    width: 8rem;
    margin: 0 auto;
  }

  /* RESPONSIVIDADE ------------------------- */

@media(max-width:991px){

  html{
    font-size: 55%;
  }

  header{
    padding:2rem;
  }

  section{
    padding:2rem;
  }

  .titulo {
    text-align: center;
    font-size: 5rem;
    padding:20rem 20rem 2rem 20rem;
    color: var(--cinzaClaro);
    font-weight: bold;
}

.subtitulo {
  text-align: center;
  font-size: 2.5rem;
  padding: 0 0 10rem 0;
  color: var(--cinzaClaro);
}

}

@media(max-width:768px){

  #menu-bars{
    display: initial;
  }

  header .navegacao{
    position: absolute;
    top:100%; left: 0; right:0;
    background: var(--bkgCinza);
    border-top: .1rem solid rgba(0,0,0,.1);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  header .navegacao.active{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }

  header .navegacao a{
    margin: 1.5rem;
    padding:1.5rem;
    display: block;
    border:.2rem solid rgba(0,0,0,.1);
    border-left:.5rem solid var(--verde);
    background: var(--branco);
  }

  .titulo {
    text-align: center;
    align-items: center;
    font-size: 3rem;
    padding:20rem 20rem 2rem 20rem;
    color: var(--cinzaClaro);
    font-weight: bold;
}

.subtitulo {
  text-align: center;
  font-size: 1.5rem;
  padding: 0 0 10rem 0;
  color: var(--cinzaClaro);
}

}

@media(max-width:450px){

  html{
    font-size: 50%;
  }

  .order .row form .inputBox input{
    width:100%;
  }

}

